#about {
	margin-bottom : 10rem;
}

.contact {
	font-size: 1.5rem;
}

.card {
	border-radius:25px;
	border: 1px solid;
}

.card-body {
	padding: 1rem 0rem 1rem 0rem;
}
 #search {
 	margin-left: 8.1rem;
 }

.faq {
	margin-bottom: -0.0625rem;
}

#page {
	min-height:100vh; /* 1 */
	display:flex; /* 2 */
	flex-direction:column; /* 3 */
}

#content {
	margin-top:9rem;
	flex:1; /* 4 */
}

#content-recap {
	margin-top:4rem;
	flex:1; /* 4 */
}

.name{
	color:blue;
}

.recap {
	margin-right:auto;
	margin-left:auto;
}

.non-connected {
	margin-top: -14rem;
}

#error{
	color:red; 
	font-weight: bold;
}

button {
    padding: 0;
    border: none;
    background: none;
}